{{ form_start(form) }}
{{ bootstrap_set_style('horizontal') }}
{{ bootstrap_set_col_size('md') }}
{{ bootstrap_set_label_col(3) }}
{{ bootstrap_set_widget_col(9) }}
<div class="form-body">
    {{ form_row(form.name) }}
    {{ form_row(form.email) }}
    {{ form_row(form.message) }}
    {{ form_rest(form) }}
</div>
{{ form_end(form) }}
