{{ form_start(form, {'action': path('fos_user_change_password'), 'attr': {'class': 'form-horizontal'} }) }}
<div class="form-body">
    {{ bootstrap_set_style('horizontal') }}
    {{ bootstrap_set_col_size('sm') }}
    {{ bootstrap_set_label_col(6) }}
    {{ bootstrap_set_widget_col(6) }}

    {{ form_errors(form) }}
    {{ form_row(form.current_password, {'label': 'ekyna_user.account.password.current'|trans}) }}
    {{ form_row(form.plainPassword.first, {'label': 'ekyna_user.account.password.new'|trans}) }}
    {{ form_row(form.plainPassword.second, {'label': 'ekyna_user.account.password.confirm'|trans}) }}
    {{ form_rest(form) }}

    <div class="form-footer">
        <div class="form-group row">
            <div class="col-md-12" style="text-align: center">
                <button type="submit" name="submit" class="btn btn-primary">
                    <span class="glyphicon glyphicon-ok"></span>
                    {{ 'ekyna_user.account.password.submit'|trans }}
                </button>
            </div>
        </div>
    </div>
</div>
{{ form_end(form) }}
