{% spaceless %}
<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block metas %}{% endblock metas %}

    {{ ui_google_font() }}

    {% block stylesheets -%}
        {% stylesheets output='css/main.css' filter='cssrewrite, ?yui_css'
            'css/content.css'
            'css/fontawesome.css'
            'css/core.css'
            '@WebBundle/Resources/asset/css/main.css'
        %}
        <link href="{{ asset_url }}" rel="stylesheet" type="text/css" />
        {% endstylesheets %}
    {%- endblock stylesheets %}

    {% include 'EkynaCoreBundle:Ui:ie-fix.html.twig' %}
</head>
<body>
    {% block body %}{% endblock body %}

    {% block footer %}
        {{ render_esi(controller('AppBundle:Layout:footer')) }}
    {% endblock footer %}

    {% block javascripts -%}
        {% javascripts output='js/main.js' filter='?yui_js'
            'js/jquery.js'
            'js/bootstrap.js'
            'js/core.js'
            '@EkynaCmsBundle/Resources/asset/js/init.js'
            '@WebBundle/Resources/asset/js/main.js'
        %}
        {% if app.environment == 'prod' %}
            <script type="text/javascript">
                var script = document.createElement('script');
                script.src = "{{ asset_url }}";
                document.getElementsByTagName('head')[0].appendChild(script);
            </script>
        {% else %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endif %}
        {% endjavascripts %}
    {%- endblock javascripts %}
</body>
</html>
{% endspaceless %}